Diplodocus.suo
Diplodocus/Diplodocus/bin/x86/Debug/Content/Carte/Niveau1/Niveau1.xnb
Diplodocus/Diplodocus/bin/x86/Debug/Content/Carte/Niveau1/Niveau1/00.xnb
Diplodocus/Diplodocus/bin/x86/Debug/Content/df.xnb
Diplodocus/Diplodocus/bin/x86/Debug/Diplodocus.exe
Diplodocus/Diplodocus/bin/x86/Debug/Diplodocus.pdb
Diplodocus/Diplodocus/bin/x86/Debug/FuncWorks.XNA.XTiled.xml
Diplodocus/Diplodocus/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Diplodocus/Diplodocus/obj/x86/Debug/Diplodocus.csproj.FileListAbsolute.txt
Diplodocus/Diplodocus/obj/x86/Debug/Diplodocus.csprojResolveAssemblyReference.cache
Diplodocus/Diplodocus/obj/x86/Debug/Diplodocus.exe
Diplodocus/Diplodocus/obj/x86/Debug/Diplodocus.pdb
Diplodocus/Diplodocus/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
Diplodocus/Diplodocus/obj/x86/Debug/cachefile-{2361A957-61DD-4EAF-A221-1D948C7726B0}-targetpath.txt
Diplodocus/DiplodocusContent/obj/x86/Debug/ContentPipeline.xml
Diplodocus/DiplodocusContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Diplodocus/DiplodocusContent/obj/x86/Debug/DiplodocusContent.contentproj.FileListAbsolute.txt
Diplodocus/DiplodocusContent/obj/x86/Debug/DiplodocusContent.contentprojResolveAssemblyReference.cache
